/*
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif ;
}

/*
    GENERAL
*/

img {
    max-width: 100%;
}

/*
    HEADER
*/

header {
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header button {
    background-color: grey;
    color: white;
    height: 30px;
    padding: 2px 4px;
    margin-right: 4px;
    border: none;
    border-radius: 4px;
}

/*
    MAIN
*/

main {
    height: calc(100vh - 30px + 100px);
    padding: 30px;
    background-color: black;
    overflow: auto;
}

.videos-container {
    display: flex;
    
}

.my-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 150px 10px;
    
}

.my-col {
    width: 200px;
    height: 100px;
    margin: 5px;
    position: relative;
}

.mycol img {
    display: block;
    width: 200px;
    height: 100px;
    object-fit: cover;
}

.microfone-mute {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: rgba(94, 81, 81, 0.534);
    width: 65px;
    height: 10px;
    font-size: 0.1cap;
    position: absolute;
    bottom: -10px;
    left: 0;
}

/*
    FOOTER
*/

footer {
    height: 100px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
}

footer > * {
    display: flex;
}

footer > * > button {
    height: 100%;
    margin-right: 2px;
    border: none;
    background: none;
    color: white;
    padding: 5px;
}

footer > * > button > div:first-child {
    margin-bottom: 5px;
}

.end-meeting-button {
    width: 120px;
    height: 100px;
    color: red;
    background-color: #4A4A4A;
    margin-right: 0;
    border: none;
}
