/*
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif ;
}

/*
    GENERAL
*/

.up-line {
    font-size: 2cap;
}

img {
    max-width: 100%;
}

/*
    MAIN
*/

.container {
    
}

main {
    height: calc(100vh - 100px);
    background-color: black;
    overflow: auto;
}

.my-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0 10px;
    
}

.my-col {
    width: 200px;
    height: 100px;
    position: relative;
}

.ronaldo-img {
    
}

.microfone-mute {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: rgba(94, 81, 81, 0.534);
    width: 65px;
    height: 10px;
    font-size: 0.1cap;
    position: absolute;
    bottom: 0;
    left: 0;
}

/*
    FOOTER
*/

.container-footer {
}

footer {
    height: 100px;
    background-color: #222222;
}


.box-1-3 > * {
    color: white;
}